@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Black.ttf");
    }


#header{
    background: url(pic/1.svg) right center/400px 400px no-repeat !important;
    background-position: right;
    background-size: cover;
    vertical-align: right;
    height: 600px;
}

.title{
    text-align: left;
    padding-left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 200px;
    background: linear-gradient(to left,#a18cd1 10%, #fbc2eb 70%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

