body{
    background-color: black;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Black.ttf");
    }

.header{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 200px;
    text-align: center;
    background: linear-gradient(to left,#a18cd1 10%, #fbc2eb 70%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;

}
